{% extends 'base.html' %}
{% block title %} Add Pet {% endblock %}
{% block content %}
<h1>Add a Pet!</h1>

<form action="/add", method="POST" class="container">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>

    {% endfor %}

    <button class="btn btn-success">Add Pet!</button>
    <a href="/" class="btn btn-danger">Go Back</a>
</form>

{% endblock %}